
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  font: normal 16px Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  color: #FFF;
  margin:0;
}

.banner{
  background-image: url(https://c.pxhere.com/images/22/68/ac0384321b4e349f26591495a78f-1440815.jpg!d);
  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
}
.dark {
  color: black;
  font-weight: bolder;
}
.banner-container {
  width: 60%;
}
.container{
  background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px;
}
.quiz-content {
  height: 100%;
  width: 100%;
  padding: 300px;
}
.welcome {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  text-align: center;
  position: relative;
  bottom: 100px;
  max-width: 100%;
  padding: 2rem;
  font-family: halkduster, fantasy;
  font-size: x-large;
}
.quizTitle{
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
}
.startQuestion{
  padding: 1rem;
}

.buttonStart{
  border-radius: 12px;
  background-color: rgb(245, 217, 166);
  color: black;
  border: 2px solid;
  padding: 8px;
}
  /* .hidden {
    display: none;
  } */

