* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  font: normal 16px Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  color: #fff;
  margin: 0;
}
.banner {
  background-image: url(https://c.pxhere.com/images/22/68/ac0384321b4e349f26591495a78f-1440815.jpg!d);
  background-size: cover;
  background-color: #fff;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
}
.dark {
  color: black;
  font-weight: bolder;
}
.banner-container {
  width: 50%;
}
main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
