:root {

    --bg: #F8F8F8;
    --card: #D8D8D8;
    --logo: #52504c;
    --accent: #E85A4F;


}

* {
    box-sizing: border-box;
    list-style: none;
}

li, ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-bottom: .5rem;
}


body {
    background-color: var(--bg);
    padding: 0;
    margin: 0;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 20vh;

}

h1 {
    font-size: 4rem;
    font-family: monospace;
    color: var(--logo);
}

.search-bar {
    width: 16rem;
}

.search-button, .search-bar, .format-select {
    
    border: 1px solid var(--logo);
    border-radius: 0.2rem;
}